---
export interface Props {
  id: string;
  author: string;
  year: number;
  month: string;
  day: number;
  title: string;
  publication: string;
  url: URL;
}

const { id, author, year, month, day, title, publication, url } =
  Astro.props as Props;
---

<li id={`reference-${id}`} class="reference pl-0">
  <span class="text-gray-400">[{id}]</span>
  <span class="font-semibold">{author}</span>
  ({year && year}{month && `, ${month}`}{day && ` ${day}`}) {
    title && <span class="italic">{title}</span>
  }{publication && `, ${publication}`}<br />
  <small
    ><a href={url} target="_blank" rel="nofollow noopener noreferrer">{url}</a>
  </small>
</li>
