---
import CategoryTags from "../_globals/articles/CategoryTags.astro";

export interface Props {
  content: {
    id: string;
    client: string;
    date: string;
    location: string;
    tech: string[];
    roles: string[];
    urls: URL[] | string;
    blurb: string;
  };
}

const {
  content: { id, client, date, location, tech, roles, urls, blurb },
} = Astro.props as Props;
---

<li id={`work-${id}`} class="border border-gray-400 rounded p-4 pb-6 mb-4">
  <header
    class="flex justify-between items-center border-b border-gray-400 pb-2 mb-4"
  >
    <h3 class="text-xl weight-bold leading-tight">{client}</h3>
    <span class="text-gray-400">[#{id}]</span>
  </header>

  <div class="flex flex-wrap justify-between mb-2">
    <div>
      <span class="mr-2">{date}</span>|<span class="ml-2">{location}</span>

      <div class="mt-2 mb-2">
        <ul>
          {
            Object.values(urls).map((item) => {
              return (
                <>
                  {/* prettier-ignore */}
                  <li>
                    <a href={item} rel="noopener noreferrer" target="_blank" class="pr-4 underline font-mono text-sm font-semibold">{item}</a>
                  </li>
                </>
              );
            })
          }
        </ul>
      </div>

      <CategoryTags categories={tech} />
    </div>

    <ul>
      {
        Object.values(roles).map((item) => {
          return <li class="block text-left md:text-right pr-2">{item}</li>;
        })
      }
    </ul>
  </div>

  <p>{blurb}</p>
</li>
